* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
.btn {
  transition: all 300ms ease;
}

p {
  color: rgb(0, 0, 0);
}

ul,
li {
  list-style: none;
}

/* Body Animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Navigation */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-color: aliceblue;
}

.nav-links {
  gap: 2rem;
  font-size: 1.4rem;
}

.nav-links a:hover {
  color: hsl(0, 0%, 29%);
}

.nav-links a:hover,
.nav-links .active a {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: black;
}

/* Main Section */
.title {
  text-align: center;
  padding: 2rem 0;
}

.grocery-form {
  display: flex;
  justify-content: center;
}
